# Виртуальные окружения
venv/
.venv/

# Настройки среды разработки
.idea/
.idea/

# Исключаем SQLite базу данных
**db.sqlite3

# Кэш Python
__pycache__/

# Миграции базы данных (если они генерируются автоматически)
**/migrations/

# Файлы сессий
*.session

# Конфигурационные файлы среды
.env

# Медиа-файлы
/media/

# Исключаем дамп базы данных Postgres
dump.sql

# macOS system files
.DS_Store
